---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
---
<MainLayout title="Titel">
	<section class="my-36">
		<div class="flex flex-row justify-center space-x-5">
			<img src="/b.svg" alt="B">
			<img src="/a.svg" alt="A">
			<img src="/r.svg" alt="R">
			<img src="/a.svg" alt="A">
		</div>
		<p class="text-center pl-64 pt-5 font-bold">FONT MADE BY NORA SKJEVIK</p>
	</section>
	<section class="mb-72 overflow-hidden flex">
		<div class="flex animate-infinite-scroll whitespace-nowrap gap-[660px]">
		  <img class="" src="/bb.svg" alt="b">
		  <img class="" src="/ab.svg" alt="a">
		  <img class="" src="/rb.svg" alt="r">
		  <img class="" src="/ab.svg" alt="a">
		</div>
	  
		<div class="flex animate-infinite-scroll whitespace-nowrap gap-[660px]" aria-hidden="true">
		  <img class="" src="/bb.svg" alt="b">
		  <img class="" src="/ab.svg" alt="a">
		  <img class="" src="/rb.svg" alt="r">
		  <img class="" src="/ab.svg" alt="a">
		</div>
	  </section>
	  <article class="text-sm md:text-lg max-w-screen-xl mx-auto bg-whyte px-14 py-14">
		<h2 id="inspo" class="text-lg md:text-3xl pb-14">INSPIRATION</h2>
		<section class="md:flex flex-row justify-between mb-24">
<p class="md:w-[440px]">BARA är inspirerad av nostalgin från retro-tv-spel och deras distinkta, pixliga stil. Jag ville fånga känslan från de där gamla skärmarna där varje bokstav hade en tydlig form och enkelhet. Fonten har en kantig, djärv design som påminner om de klassiska speltyperna, men med en modern twist som känns både lekfull och igenkännbar. BARA är för dig som vill ta med en bit av spelvärldens magi in i nutiden.</p>
<img src="/moodboard.png" alt="moodboard">
	</section>
	<h2 id="process" class="text-lg md:text-3xl pb-14">PROCESS</h2>
	<section class="md:flex flex-row justify-between">
		<img src="/process.png" alt="process">
		<p class="md:w-[440px]">Processen bakom BARA började med många skisser och experiment med olika former och stilar. Det var en utmaning att bestämma den slutgiltiga formen, och jag lekte med flera varianter innan jag landade i en enkel, rak stil. Namnet 'BARA' kom naturligt – jag ville förenkla, göra det enkelt och ta fonten precis som den är. Den skulle vara blockig, kantig och rättfram – 'bara bra' utan krusiduller. Varje bokstav formades med tanken att det skulle kännas direkt, robust och nostalgiskt, precis som gamla tv-spel.</p>
	</section>
	<section></section>
	<section></section>
	<section></section>

</article>
</MainLayout>
<style>
</style>